/* Reset some default styles */
* {
    margin: 200;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #448d9f;
    color: #333;
}

#title {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    color: #61dafb;
}

#title h1 {
    margin: 10px 0;
    font-size: 2.5rem;
}

#proj_title {
    font-size: 2rem;
    color: #ffb6b9;
}

center h1 {
    margin-top: 30px;
    font-size: 2rem;
    color:#fffff;
}

#team-members {
    margin-top: 20px;
    border-collapse: collapse;

}

#team-members td {
    padding: 10px 20px;
    font-size: 1.2rem;
    text-align: left;
}


#link-container {
    text-align: center;
    margin-top: 50px;
}

#link-container h1 {
    font-size: 1.8rem;
    color: #333;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #61ebde;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.btn:hover {
    background-color: #21a1f1;
}
