/* display.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #28334a;
    color: white;
}

.logo {
    margin-right: 20px;
}

.logo img {
    max-width: 80px;
}

.container {
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #28334a;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
