/* login.css */
body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.logo {
    text-align: left;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100px;
}

h2 {
    text-align: center;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.back{
        width: 20%;
        background-color: #101aa8;
        color: white;
        /*padding: 10px 1px;*/
        border: none;
        border-radius: 4px;
        cursor: pointer;
}
button {
    width: 100%;
    background-color: #101aa8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
